/* Comon style */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.align-items-center{
    align-items:center;
}
.gap-10{
    gap:10px;
}
.p-relative{
    position: relative
}
.overlayer{
  position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1
}
.z-9{z-index: 9}

.flex-direction-column{
    flex-direction: column;
}
.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}